asgiref==3.10.0
click==8.3.0
colorama==0.4.6
Django==5.2.8
django-cors-headers==4.9.0
djangorestframework==3.16.1
docx2pdf==0.1.8
joblib==1.5.2
lxml==6.0.2
nltk==3.9.2
packaging==25.0
pdf2image==1.17.0
pillow==12.0.0
PyPDF2==3.0.1
pytesseract==0.3.13
python-docx==1.2.0
python-dotenv==1.2.1
python-magic==0.4.27
regex==2025.11.3
sqlparse==0.5.3
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025.2
gunicorn==21.2.0

